 
@model Person
    
<div class="details">
    <form method="post" asp-controller="Home" asp-action="SaveChanges" asp-for="data" id="det_form">
        <div>
            Стаж<br>
            <textarea readonly class="det_item" name="WorkExperience">@Model.WorkExperience</textarea>
        </div>
        <div>
            Оклад<br>
            <textarea readonly class="det_item" name="Salary">@Model.Salary</textarea>
        </div>
        <div>
            Дата назначения на должность<br>
                                        <textarea type="date" readonly class="det_item" name="EmpDate">@Model.EmpDate</textarea>
        </div>
        <div><textarea name="Id" hidden >@ViewBag.CurrentItem</textarea></div>
    </form>
</div>
