 
@model Person
    
<div class="details">
    <form method="post" asp-controller="Home" asp-action="SaveChanges" asp-for="data" id="det_form">
        <div>
            Стаж<br>
            <textarea readonly class="det_item" name="WorkExperience">@Model.WorkExperience</textarea>
        </div>
        <div>
            Оклад<br>
            <textarea readonly class="det_item" name="Salary">@Model.Salary</textarea> 
        </div>
        <div>
            <script src="~/js/datepicker.js"></script>
            <link rel="stylesheet" href="~/css/datepicker.material.css" > 
            Дата назначения на должность<br>
            <input type="text" id="datepicker" readonly class="det_item" name="EmpDate" value="@Model.EmpDate">
            <script type="text/javascript">
                var datepicker = new Datepicker('#datepicker');
            </script>
        </div>
        <div><textarea name="Id" hidden >@ViewBag.CurrentItem</textarea></div>
    </form>
</div>
