/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.flex-container {
        display: -webkit-flex;
        display: flex;
}

.container body-content {

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.staff_items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:70%;
}
.item-row {
    display: flex;
    flex-direction: row;
}

.personName {
    background-color: #edebea;
    text-align: left;
    width:20% ;
}

.pos {
    background-color: #afeff4;
    text-align: left;
    width:20%;
}

.details_area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: auto;
    background-color: #dcf0f9;
    align-items: center;
    height: 15em;
    width: 20%;
}

    .details_area div {
        flex:0 0 auto ;
        height: auto;
        width: auto;
    }

  

.selected-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #dcf0f9;
    align-content: center;
    width: 100%;
}
.non-selected-div {
    display: flex;
    background-color: #f8fbe4;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 100%;
}
.det_row {
    display: flex;
    flex-direction:column;
    justify-content:center ;
    align-content:center ;
    background-color:yellow;
}