/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.flex-container {
        display: -webkit-flex;
        display: flex;
}

.row {
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
}
.staff_items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 70%;
}
.item-row {
    display: flex;
}

.personName {
    background-color: #edebea;
    text-align: left;
    width:10em;
}

.pos {
    background-color: #afeff4;
    text-align: left;
    width:10em;
}

.details {
    flex-direction: column;
    justify-content:space-around;
    background-color: #dcf0f9;
    align-items:center ;
}
.details_area {
    
    flex-direction: column;
    justify-content: space-between; 
}
.selected-div {
    background-color: #dcf0f9;
    justify-content: space-around;
    flex-direction: row;
    align-content:center ;
}
.non-selected-div {
    background-color: #f8fbe4;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
}